<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Import material</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class = "container">
    <h1 Hệ thống quản lý vật tư></h1>
    <hr>
    <h2> Nhập hàng hóa </h2>
    <form th:action = "@{/importMaterial}" th:object = "${material}" method = "POST">
        <p th:text ="'Tên: ' + ${material.ten} " class="form-control mb-4 col-4"></p>
        <p th:text ="'Loại: ' + ${material.loai} " class="form-control mb-4 col-4"></p>
        <input type="text" th:field = "*{soluong}"
               placeholder="Số lượng" class="form-control mb-4 col-4">
        <p th:text ="'Đơn vị: ' + ${material.donvi} " class="form-control mb-4 col-4"></p>
        <p th:text ="'Đơn giá: ' + ${material.dongia} " class="form-control mb-4 col-4"></p>
        <p th:text ="'Nhà cung cấp: ' + ${material.nhacungcap} " class="form-control mb-4 col-4"></p>
        <p th:text ="'Mô tả: ' + ${material.mota} " class="form-control mb-4 col-4"></p>
        <br>
        <button type="submit" class="btn btn-info col-2">Nhập hàng hóa</button>
    </form>
    <hr>
    <a th:href = "@{/management}"> Quay lại </a>
</div>
</body>
</html>