<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Import material</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class = "container">
    <h1 Hệ thống quản lý vật tư></h1>
    <hr>
    <h2> Nhập hàng hóa </h2>
    <form th:action = "@{/importMaterial}" th:object = "${item}" method = "POST">
        <input type="hidden" name="supplierId" th:value="${item.supplier.id}">
        <p th:text =" ${item.material.ten} " class="form-control mb-4 col-4"></p>
        <p th:text =" ${item.material.loai} " class="form-control mb-4 col-4"></p>

        <p th:text =" ${item.material.donvi} " class="form-control mb-4 col-4"></p>
        <p th:text ="  ${item.material.dongia} " class="form-control mb-4 col-4"></p>

        <p th:text =" ${item.material.mota} " class="form-control mb-4 col-4"></p>
        <label> Số lượng muốn nhập </label>
        <input type="text"
               placeholder="Số lượng" class="form-control mb-4 col-4">
        <br>
        <button type="submit" class="btn btn-info col-2">Nhập hàng hóa</button>
    </form>


    <br>
    <a th:href="@{/supplier/{id}(id=${item.supplier.id})}" class="btn btn-primary">Quay lại</a>
</div>
</body>
</html>