<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hệ thống quản lý vật tư</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container my-2">
    <h1>Hệ thống quản lý vật tư</h1>
    <hr>
    <hr>
    <h2>Danh sách hóa đơn</h2>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Mã hóa đơn</th>
            <th>Ngày xuất</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Chi tiết</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${ListInvoice}">
            <td th:text="${invoice.id}"></td>
            <td th:text="${invoice.ngayxuat}"></td>
            <td th:text="${invoice.tongtien}"></td>
            <td th:text="${invoice.trangthai}"></td>
            <td> <a th:href ="@{/invoice/{id}(id = ${invoice.id})}"
                    class="btn btn-danger"> Xem chi tiết </a>
            </td>
            <td>
                <a th:href ="@{/deleteInvoice/{id}(id = ${invoice.id})}"
                   class="btn btn-danger"> Xóa </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href = "@{/home}"> Quay lại </a>
</div>
</body>
</html>