<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Management</title>
    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
            rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</head>

<div class ="bg-black topbar mb-4 static-top shadow text-center" >
    <br>
    <h1 class="h3 mb-2 text-gray-800" > Thống kê hàng hóa theo nhà cung cấp </h1>
</div>

<body>

<div class="container">
    <h2> Danh sách các nhà cung cấp </h2>

    <table class = "table table-striped table-responsive-md">
        <thead class = "table-dark">
        <tr>
            <th>Tên</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Mô tả</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="supplier : ${listSuppliers}">
            <td th:text="${supplier.ten}"></td>
            <td th:text="${supplier.sodienthoai}"></td>
            <td th:text="${supplier.diachi}"></td>
            <td th:text="${supplier.email}"></td>
            <td th:text="${supplier.mota}"></td>
            <td> <a th:href ="@{/supplier_stats/{id}(id=${supplier.id})}"
                    class="btn btn-warning"> Xem TK </a>
            </td>



        </tr>
        </tbody>
    </table>
    <a th:href = "@{/home}" class="btn btn-primary"> Quay lại </a>
</div>
</body>
</html>