<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Management</title>
    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
            rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
</head>

<div class ="bg-black topbar mb-4 static-top shadow text-center" >
    <br>
    <h1 class="h3 mb-2 text-gray-800" > Quản lý thông tin vật tư </h1>
</div>
<body>
    <div class = "container">
        <h2>Sửa vật tư</h2>
        <form action = "#" th:action = "@{/updateMaterial}" th:object = "${material}" method = "POST">
            <input type="hidden" th:field="*{id}"/>
            <label> Tên</label>
            <input type="text" th:field = "*{ten}" class="form-control mb-4 col-4">
            <label> Loại </label>
            <input type="text" th:field = "*{loai}" class="form-control mb-4 col-4">
            <label> Số lượng </label>
            <input type="text" th:field = "*{soluong}" disabled class="form-control mb-4 col-4">
            <label> Đơn giá </label>
            <input type="text" th:field = "*{dongia}" class="form-control mb-4 col-4">
            <label> Đơn vị </label>
            <input type="text" th:field = "*{donvi}"  class="form-control mb-4 col-4">
            <label> Mô tả </label>
            <input type="text" th:field = "*{mota}" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Lưu </button>
        </form>
        <hr>
        <a th:href = "@{/management}" class="btn btn-primary"> Quay lại </a>
    </div>
</body>
</html>